<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <property name="LOG_HOME" value="/data/logs/jar/8001"/>
    <property name="AppName" value="timeStore"/>
    <!-- 控制台输出 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="%yellow(%date{yyyy-MM-dd HH:mm:ss.SSS})  %highlight(%-5level)  %r [%blue(%thread)]   %green(%logger)  %blue(%file:%line)  %cyan(%msg%n)"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg %n</pattern>-->
            <!--<pattern>${CONSOLE_LOG_PATTERN}</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Shanghai} %highlight(%5p) --- [%-5t] %cyan(%c{36}): %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 文件写入 同步 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 设置按尺寸和时间（同时满足）分割 -->
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${LOG_HOME}/${AppName}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <!-- 每个文件最多1G，保留180天的历史记录，但最多300GB -->
            <maxFileSize>1GB</maxFileSize>
            <maxHistory>180</maxHistory>
            <totalSizeCap>300GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}-%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- 文件写入 异步 -->
    <appender name="ASYNC_ROLLING_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <!-- logstash写入 -->
    <appender name="LOG_STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>192.168.110.74:5000</destination>
        <queueSize>1048576</queueSize>
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <!-- logstash写入 异步 -->
    <appender name="ASYNC_LOG_STASH" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOG_STASH"/>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <!--<appender-ref ref="ASYNC_LOG_STASH"/>-->
        <!--<appender-ref ref="FILE"/>-->
        <!--异步写入-->
        <appender-ref ref="ASYNC_ROLLING_FILE"/>
    </root>
</configuration>